<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="weigh-in-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Weigh in</h1>
      <p>
        <paper-input label="Enter your weight" name="weight" type="number" min="0">
        </paper-input>
        <paper-icon-button icon="save"></paper-icon-button>
      </p>
    </div>
  </template>

  <script>
    class WeighInView extends Polymer.Element {
      static get is() { return 'weigh-in-view'; }
    }

    window.customElements.define(WeighInView.is, WeighInView);
  </script>
</dom-module>
